<section>
  <img src="../assets/images/{{ include.content.image-src }}" alt="{{ include.content.name }}">
  <h2>{{ include.content.name }}</h2>
  <p>{{ include.content.[include.lang].description }}</p>
  <ul>
    <li>{{ include.content.address }}, {{ include.content.zip }} {{ include.content.city }}</li>
    <li>{{ include.content.phone }}</li>
    <li>{{ include.content.email }}</li>
    <li>{{ include.content.[include.lang].rooms }}</li>
    <li>{{ include.content.[include.lang].conference }}</li>
  </ul>
</section>
