<section>
  <h2>{{ include.content.name }}</h2>
  <p>{{ include.content.description-no }}</p>
  <p>{{ include.content.description-en }}</p>
  <ul>
    <li>{{ include.content.address }}, {{ include.content.zip }} {{ include.content.city }}</li>
    <li>{{ include.content.phone }}</li>
    <li>{{ include.content.email }}</li>
    <li>{{ include.content.rooms-no }}</li>
    <li>{{ include.content.rooms-en }}</li>
    <li>{{ include.content.conference-no }}</li>
    <li>{{ include.content.conference-en }}</li>
  </ul>
</section>
