<section id="hotels">
{% for hotel in site.data.hotels %}
  <article id="{{ hotel.id }}">
    <img src="/assets/images/{{ hotel.image-src }}" alt="{{ hotel.name }}">
    <div class="about">
      <div>
        <h2>{{ hotel.name }}</h2>
        <p>{{ hotel.[page.lang].description }}</p>
        <a href="{{hotel.booking.url}}">{{hotel.booking.text.[page.lang]}}</a>
      </div>
      <div>
        <ul>
          <li class="address">{{ hotel.address }}, {{ hotel.zip }} {{ hotel.city }}</li>
          <li class="phone">{{ hotel.phone }}</li>
          <li class="email">{{ hotel.email }}</li>
          <li class="rooms">{{ hotel.[page.lang].rooms }}</li>
          <li class="conference">{{ hotel.[page.lang].conference }}</li>
        </ul>
      </div>
    </div>
  </article>
{% endfor %}
</section>
