$backgroundColor: #ffffff;
$bodyColor: #000000;
$color-black: #1A1A1A;
$color-white: #f5f5f5;
$color-green: #82BC00;
$bodyFont: 'Open Sans', sans-serif;

html{
  scroll-behavior: smooth;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 0;
  margin: 0;
}

section, div{
  box-sizing: border-box;
}

header{
  text-transform: uppercase;
  display: block;
  overflow: auto;
  background-color: $color-black;
  padding: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;

  img{
    height: 1.5rem;
    padding: .75rem 1.5rem;
    float: left;
  }

  a{
    padding: .75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    float: right;
    text-decoration: none;
    color: $color-white;
    &:hover{
      background-color: lighten($color-black, 5%);
    }
  }
}

nav{
  font-size: 1rem;
  line-height: 1.5rem;
  float: right;
  ul{
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  li{
    margin: 0;
    padding: 0;
    float: left;
  }
}

section#hero{
  padding: 1.5rem;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,.9) 0%, rgba(130,188,0,.5) 100%), url('/assets/images/hero-trondheim.jpg');
  background-size: cover;
  background-position: center top;
  position: relative;

  text-align: center;

  div{
    position: relative;
    top: 20%;
  }

  img{
    width: 6rem;
    margin: 0;
  }

  .link-more{
    display: block;
    padding: .75rem 0;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
    span{
      font-size: 2rem;
      transition: transform .5s;
    }
  }

  .link-more:hover{
    text-decoration: underline;
    span{
      transform: translateY(.5rem);
    }
  }
}

section#hotels{
  background-color: $color-black;
  color: $color-white;
  padding: 0;

  .about{
    overflow: hidden;
  }

  img{
    width: 100%;
  }
  .about{
    padding: 1.5rem;
    box-sizing: border-box;
  }

  ul{
    margin: 0 0 1.5rem 0;
    padding: 0;
    list-style: none;
    li{
      margin: 0 0 1rem 0;
      padding: 0 0 0 1.75rem;
      position: relative;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    li::before{
      font-family: 'Material Icons';
      color: $color-green;
      font-size: 1rem;
      line-height: 1.5rem;
      position: absolute;
      left: 0;
    }
    .address::before{content: 'place';}
    .phone::before{content: 'phone';}
    .email::before{content: 'mail';}
    .rooms::before{content: 'hotel';}
    .conference::before{content: 'business_center';}
  }
}

section#facilities{
  h3{
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0;
  }
  overflow: hidden;
  div{
    text-align: center;
  }
  .fac.half{
    padding: 1.5rem 3rem 6rem 3rem;
  }
  .fac{
    padding: 9rem 1.5rem;
  }
  .icon{
    color: $color-green;
    display: block;
    font-size: 6rem;
    padding: 6rem 3rem 0 3rem;
  }
  img{
    width: 100%;
    display: block;
  }
}

footer{
  padding: 1.5rem;
  background-color: $color-black;
  color: $color-white;

  .logo{
    width: 3rem;
    margin: 1.5rem 0;
  }
  ul{
    li{
      padding: 0;
      text-transform: uppercase;
      font-size: .75rem;
      line-height: 1rem;
      a{
        color: $color-white;
      }
    }
  }
}

h1{
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: $color-green;
  margin: 0 0 1.5rem 0;
}

h2{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: $color-green;
  margin: 0 0 1.5rem 0;
}

h3{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: $color-black;
  margin: 0 0 1.5rem 0;
}

p{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $color-white;
  margin: 0 0 1.5rem 0;
}

@media (max-width: 767px) {
  nav{
    display: none;
  }
}



@media (max-width: 1024px) {
  section#facilities{
    h3{
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 1rem 0;
    }
  }
}

@media (min-width: 768px) {
  header{
    padding: 0 1.5rem;
  }
  section#hero{
    img{
      width: 12rem;
      margin: 3rem 0;
    }
  }
  section#hotels{
    .about{
      div{
        width: 50%;
        padding: 1.5rem;
        float: left;
      }
    }
  }
  section#facilities{
    .fac.half, .icon{
      width: 50%;
      float: left;
      padding: 9rem 3rem;
    }
    .fac.half:nth-child(odd), .icon:nth-child(odd){
      float: right;
    }
    .fac{
      padding: 9rem;
    }
    .icon{
      color: $color-white;
      background-color: $color-green;
    }
  }

  h1{
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 700;
    color: $color-green;
    margin: 0 0 1.5rem 0;
  }
}
