$backgroundColor: #ffffff;
$bodyColor: #000000;
$color-black: #1A1A1A;
$color-white: #f5f5f5;
$color-green: #82BC00;
$bodyFont: 'Work Sans', sans-serif;

html{
  scroll-behavior: smooth;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 3rem;
  max-width: 720px;
  margin: 0;
}

h1{
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: $color-black;
  margin: 0 0 1.5rem 0;
}

h2{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: $color-black;
  margin: 1.5rem 0;
}

h3{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: $color-black;
  margin: 0 0 1.5rem 0;
}

p{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: $color-black;
  margin: 0 0 1.5rem 0;
}

.button{
  margin: 1rem 1.5rem;
  padding: 1rem 1.5rem;
  color: $color-black;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  background-color: $color-green;

  &:hover{
    text-decoration: underline;
  }
}
