<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content }}
    {% for hotel in site.data.hotels.hotels %}
    <section>
      <h2>{{ hotel.name }}</h2>
      <p>{{ hotel.description-no }}</p>
      <p>{{ hotel.description-en }}</p>
      <ul>
        <li>{{ hotel.address }}, {{ hotel.zip }} {{ hotel.city }}</li>
        <li>{{ hotel.phone }}</li>
        <li>{{ hotel.email }}</li>
        <li>{{ hotel.rooms-no }}</li>
        <li>{{ hotel.rooms-en }}</li>
        <li>{{ hotel.conference-no }}</li>
        <li>{{ hotel.conference-en }}</li>
    </section>
    {% endfor %}
  </body>
</html>
